html {
  background-image: url(/images/taylor.jpg)
}

.center {
  width: 33em;
  height: 10em;
  position: relative;
  left: 32%;
  top: 25%;
}

.button {
  width: 110px;
  height: 110px;
  padding: 28px;
  display: inline-flex;
  background-color: #fabc00;
  border: 2px solid black;
  color: #ffffff;
  font-family: arial;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0px 0px 5px black;
  text-align: center;
}

a#h {
  padding-left: 46px;
  padding-right: 10px;
}
