html {
  background-image: url(https://raw.githubusercontent.com/trayo/taylor_hater/master/images/taylor.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.center {
  width: 42%;
  height: 100%;
  position: absolute;
  left: 30%;
  top: 25%;
}

.button {
  width: 110px;
  height: 110px;
  padding: 28px;
  margin-top: 4px;
  display: inline-flex;
  background-color: #ffb300;
  border: 2px solid black;
  color: #ffffff;
  font-family: arial;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0px 0px 5px black;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:active {
	position:relative;
	top:1px;
}
.button-pushed {
  background-color: #fff300;
}

a#h {
  padding-left: 46px;
  padding-right: 10px;
}

a#n {
  background-color: red;
}
